

body {
    background-color: #FEF1E9;
    color: #2e3d49;
    font-family: Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.box {
    display: flex;
    align-items: center;
    width: 70%;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    text-align: left;
    margin-top: 30px;
}

.image {
    width: 500px;
    height: auto;
    margin-right: 20px;
}

.text {
    display: flex;
    flex-direction: column; 
    flex: 1; 
}


p {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 8px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}


